
//サイドバー
= render "groups/sidebar"

//チャット部分
.chat
  //
  .chat_group
    .group
      %p.group_name= @group.name
      = link_to edit_group_path(@group) do
        %p.edit_button Edit
    %p.member member: @group.users
  .chat_contents
    - @messages.each do |message|
      %p.chat_name= message.user.name
      %p= message.body


  //投稿フォーム
  .message_form
    .message
      = form_for [@group, @message] do |f|
        .send
          =f.text_field :body, placeholder:"チャットする"
          %i.fa.fa-photo.fa-lg
        .send_button
          = f.submit "Send"
