
//サイドバー
= render "groups/sidebar"

//チャット部分
.chat
  //
  .chat_group
    .group
      %p.group_name= @group.name
      = link_to edit_group_path(@group) do
        %p.edit_button Edit
      %p.member
        - @group.users.each do |user|
          = user.name + ","
  .chat_contents
    - @messages.each do |message|
      %p.chat_name= message.user.name
      %p= message.body
      = image_tag message.image


  //投稿フォーム
  .message_form
    .message
      = form_for [@group, @message] do |f|
        .false_send_form
          = f.hidden_field :image_cache
        .send_form
          =f.text_field :body, placeholder: "チャットする", class: "bodybox"
          %label
            %i.fa.fa-photo.fa-lg
            =f.file_field :image, style: "display: none"
        .send_button
          = f.submit "Send"
