
//サイドバー
= render "groups/sidebar"

//チャット部分
.chat
  //
  .chat_group
    %p.group_name= @group.name
    %p.member member: tomoo, keio, masao
    = link_to edit_group_path(@group) do
      %p Edit
  .chat_contents
    - @messages.each do |message|
      %p.chat_name= current_user.name
      %p= message.body


  //投稿フォーム
  .send_form
    .comment
      = form_for [@group, @message] do |f|
        .send
          =f.text_field :body, placeholder:"チャットする"
          .send_button
          = f.submit "Send"
          %i.fa.fa-photo.fa-lg
    / %form.comment
    /   %input.send{placeholder:"チャットする", type:"text"}/

    /   %br/
    / %f.send_button
    /   %input{type:"submit", value:"send"}/
    / %i.fa.fa-photo.fa-lg
