.chat-group-form
  %h1 チャットグループ編集
  .edit_chat_group
    = render 'form'
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          = f.label :groups, "チャットメンバーを追加"
      .chat-group-form__field.clearfix
        .chat-group-form__field--left
          = f.label :groups, "チャットメンバー"
        .chat-group-form__field--right
          = collection_check_boxes(:group, :user_ids, User.all, :id, :name) do |b|
            = b.label { b.check_box + b.text }
          .chat-group-form__action-btn
            =f.submit "SAVE"
